<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sony.sel.tvapp"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Android TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"
        />

    <!-- no touchscreen required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />

    <application
        android:name=".app.TVApp"
        android:allowBackup="true"
        android:icon="@drawable/unlock_box"
        android:label="@string/app_name"
        android:logo="@drawable/unlock_box_leanback"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".activity.StartupActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>


        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity android:name=".activity.VodSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_vod"
                />
        </activity>

        <activity android:name=".activity.RecordEpgActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_epg"
                />
        </activity>

        <activity
            android:name=".activity.SelectServerActivity"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name=".activity.SelectChannelVideosActivity"
            android:screenOrientation="landscape"
            >

        </activity>

        <!-- web server for EPG -->
        <service
            android:name="com.sony.localserver.ServerService"
            android:enabled="true"
            />

        <!-- cling DLNA service -->
        <service
            android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"
            android:enabled="true"
            />

        <!-- DLNA helper service -->
        <service
            android:name=".service.DlnaService"
            android:enabled="true"
            android:exported="true"
            />

        <!-- boot completed receiver -->
        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <!-- EPG search content provider -->
        <provider
            android:name=".provider.EpgSearchContentProvider"
            android:authorities="com.sony.sel.tvapp"
            android:enabled="true"
            android:exported="true"
            />

    </application>

</manifest>
