<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sony.sel.tvapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Android TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"
        />

    <!-- no touchscreen required -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />

    <application
        android:name=".app.TVApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher_leanback"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".activity.StartupActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name=".activity.SelectServerActivity"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name=".activity.EpgActivity"
            android:screenOrientation="landscape"
            >

        </activity>

        <activity
            android:name=".activity.SelectChannelVideosActivity"
            android:screenOrientation="landscape"
            >

        </activity>

        <activity
            android:name=".activity.SearchResultsActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>

        <!-- web server for EPG -->
        <service
            android:name="com.sony.localserver.ServerService"
            android:enabled="true"
            />

        <!-- cling DLNA service -->
        <service
            android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"
            android:enabled="true"
            />
        
        <!-- EPG search content provider -->
        <provider
            android:authorities="com.sony.sel.tvapp"
            android:name=".provider.EpgSearchContentProvider"
            android:exported="true"
            android:enabled="true"
            />

    </application>

</manifest>
